.hidden{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8666666667);
    color: #fff;
}

.navbar {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 20px;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  .nav__branding {
    font-size: 2rem;
  }
  
  li {
    list-style: none;

  }

  a {
    color: white;
    text-decoration: none;
  }
  
#about-us {
    margin-bottom: 40px;
}

#founders section {
    margin-bottom: 40px;
}